<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h2>About Me</h2>
    </div>
    <div class="content">
      <img class="queen-of-computers" src="/images/linkedin_profile.png" />
      <p>My name is Olivia Baldwin and I am a Computer Science student at Smith College.</p>
      <p>I aspire to obtain a master's degree in public health.</p>
    </div>
  </main>
</body>
</html>
