<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h2>About Me</h2>
      <img src="images/linkedin_profile.png" />
    </div>
    <div class="content">
      <p>I am a Computer Science Student at Smith College who is passionate about programming and public health.
        I aspire to gain a masters degree in public health.</p>
    </div>
  </main>
</body>
</html>
