<html lang="en">
<head>
  <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main class="contact-container">
    <div class="page-header">
      <h1></h1>
    </div>
    <div class="content">
      <a class="contact-icon-link" href="https://www.linkedin.com/in/olivia-baldwin-744158149" target="_blank">
         <i class="contact-icon fa fa-linkedin-square"></i>
      </a>
      <a class="contact-icon-link" href="https://github.com/obaldwin" target="_blank">
        <i class="contact-icon fa fa-github-square"></i>
      </a>
      <a class="contact-icon-link" href="https://www.facebook.com/profile.php?id=100004644166905" target="_blank">
        <i class="contact-icon fa fa-facebook-square"></i>
      </a>
    </div>
  </main>
</body>
</html>
