<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="jumbotron">
      <h1>Olivia R Baldwin</h1>
      <p>Welcome to my personal website</p>
    </div>
  </main>

</body>
</html>
