<html lang="en">
<head>
    <% include ../helpers/head %>

</head>

<body class="container">
  <header>
   <% include ../helpers/navbar %>
  </header>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <main>
    <div class="jumbotron">
      <h1>Olivia R Baldwin</h1>
    </div>
  </main>
  <p id="demo">
    Computer Science Student, Aspiring MPH Student
  </p>

</body>

</html>
