<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1>Projects</h1>
    </div>
    <div class="content">
      <ul>
        <li>GRAPH GUI | JAVA</li>
      </ul>
    </div>
  </main>
</body>
</html>
