<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h2>Projects</h2>
    </div>
    <div class="content">
      <ul>
        <li>GRAPH GUI | Java</li>
        <p>•	Built a graphical interface, where users can add/remove nodes and edges; implemented the shortest path algorithm</p>
        <li>SHUNTING YARD | Java</li>
        <p>•	Implemented the shunting yard algorithm to develop a calculator that solves and converts arithmetic operations from infix to postfix notation</p>
        <li>ASSASSINS | Java</li>
        <p>•	Designed and built an application that created an assignment of target-to-participant objects in a senior class-wide water weapon game 
          •	Implemented a random shuffling method to generate and output a deck of participants with their targets assigned</p>
      </ul>
    </div>
  </main>
</body>
</html>
