<html lang="en">
<head>
    <% include ../helpers/head %>
</head>
<body class="container">

  <header>
    <% include ../helpers/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h2>Projects</h2>
    </div>
    <div class="content">
        <h4>GRAPH GUI | Java</h4>
        <p>•	Built a graphical interface, where users can add/remove nodes and edges; implemented the shortest path algorithm</p>
        <h4>SHUNTING YARD | Java</h4>
        <p>•	Implemented the shunting yard algorithm to develop a calculator that solves and converts arithmetic operations from infix to postfix notation</p>
        <h4>ASSASSINS | Java</h4>
        <p>•	Designed and built an application that created an assignment of target-to-participant objects in a senior class-wide water weapon game
          •	Implemented a random shuffling method to generate and output a deck of participants with their targets assigned</p>
    </div>
  </main>
</body>
</html>
